.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 24px 0;
}

.navbar__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 960px;
}

.navbar__node {
  padding: 8px 0;
}

.navbar__node:hover {
  cursor: pointer;
}

.navbar__logo {
  font-weight: 700;
  color: #7500ff;
  font-size: 24px;
  text-decoration: none;
}

.navbar__profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid blue;
}
