.property-details {
  overflow: hidden;
}
.t-simple-table {
  border-collapse: separate;
  border-spacing: 0 4px;
  width: 100%;
  margin: -4px 0;
}
.t-cell {
  padding: 4px 8px;
}
.t-cell__name {
  border-radius: 16px;
}
.t-cell__value {
  text-align: right;
  width: 100%;
}
