.t-cell {
  padding: 8px;
}
.t-cell__name {
  background: #b4cad1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.t-cell__value {
  text-align: right;
  background: #edf6f9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
